<a href="https://colab.research.google.com/github/andresalcaraaz/Netflix-Project-2-ETL-Data/blob/main/PROJECT_2_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.1.1'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:11 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:12 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,402 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,045 kB]
Get:16 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [52.7 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,750 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [895 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,476 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,173 kB]
Get:21 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [39.5 kB]
Fetched 11.1 MB in 3s (4,077 kB/s)
Reading package lists... Done

In [3]:
#import packages

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType

# we are going to use this to time our queries.
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [4]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filterNames.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("filterNames.csv"), sep=",", header=True)

In [5]:
df.createOrReplaceTempView('names')
df.show()

+---------+------------------+---------+---------+--------------------+--------------------+---------+
|   nconst|       primaryname|birthyear|deathyear|   primaryprofession|      knownfortitles| knownFor|
+---------+------------------+---------+---------+--------------------+--------------------+---------+
|nm0458594|     Roger Kleiber|     null|     null|visual_effects,ed...|tt0405022,tt19579...|tt0497467|
|nm0458601|        Mark Kleid|     null|     null|               actor|tt0105041,tt01120...|tt0277615|
|nm0458616|      Mark Kleiman|     null|     null|editor,producer,m...|tt0196091,tt01256...|tt0972846|
|nm0458617|   Michael Kleiman|     1969|     null|camera_department...|tt0913354,tt04311...|tt0431197|
|nm0458618|      Naum Kleiman|     1937|     null|director,actor,wr...|tt3066262,tt64875...|tt3066262|
|nm0458648|     Andreas Klein|     null|     null|producer,executiv...|tt0311429,tt03139...|tt0311429|
|nm0458656|      Arthur Klein|     null|     null|editorial_departm...|tt0106925,tt13375...|tt1337579|
|nm0458664|        Bart Klein|     null|     null|               actor|tt0830854,tt03064...|tt0306413|
|nm0458674|Bonnie Sherr Klein|     1941|     null|director,producer...|tt0227531,tt02242...|tt5492464|
|nm0458680|       Butch Klein|     null|     null| actor,miscellaneous|tt7255502,tt04417...|tt3609352|
|nm0458680|       Butch Klein|     null|     null| actor,miscellaneous|tt7255502,tt04417...|tt0285331|
|nm0458690|    Cathleen Klein|     null|     null|visual_effects,sp...|tt4154796,tt18256...|tt1825683|
|nm0458690|    Cathleen Klein|     null|     null|visual_effects,sp...|tt4154796,tt18256...|tt1843866|
|nm0458719|     Dietmar Klein|     1956|     null|director,writer,c...|tt0100652,tt01203...|tt0330426|
|nm0458723|    E. Niles Klein|     null|     null|    sound_department|tt0285531,tt10534...|tt0285531|
|nm0458723|    E. Niles Klein|     null|     null|    sound_department|tt0285531,tt10534...|tt0431197|
|nm0458728|      Edward Klein|     1936|     null|                null|tt9170254,tt36511...|tt3651106|
|nm0458734| Ellyn Klein Golub|     null|     null|miscellaneous,pro...|tt2262227,tt02683...|tt0268397|
|nm0458747|       Frank Klein|     null|     null|miscellaneous,pro...|tt0297284,tt18953...|tt0297284|
|nm0458750|        Gary Klein|     null|     null|music_department,...|tt0082958,tt00775...|tt0249238|
+---------+------------------+---------+---------+--------------------+--------------------+---------+
only showing top 20 rows

In [6]:
###################### Requirement 1 #############################
spark.sql(
"""
select DISTINCT primaryname
      ,primaryprofession
      ,birthyear
      ,deathyear
      ,(year(CURRENT_DATE()) - birthyear) as age
      ,deathyear
      ,case when deathyear is null and (year(CURRENT_DATE()) - birthyear) < 120 then true
            else false
       end as is_alive
  from names
 where (primaryprofession like '%actor%'
       or primaryprofession like '%actress%') 
""").show(20)

+--------------------+--------------------+---------+---------+----+---------+--------+
|         primaryname|   primaryprofession|birthyear|deathyear| age|deathyear|is_alive|
+--------------------+--------------------+---------+---------+----+---------+--------+
|Marcela Kloosterboer|  actress,soundtrack|     1983|     null|38.0|     null|    true|
|        Sylvia Klein|             actress|     null|     null|null|     null|   false|
|     Walter Klenhard|writer,actor,dire...|     null|     null|null|     null|   false|
|       Nick Raffaele|actor,sound_depar...|     null|     null|null|     null|   false|
|       Stef Zamorano|             actress|     null|     null|null|     null|   false|
|         Kevin Beyer|               actor|     null|     null|null|     null|   false|
|       Vincent Mosso|               actor|     null|     null|null|     null|   false|
|       Sofia Marques|actress,director,...|     null|     null|null|     null|   false|
|    Rebecca Charnley|             actress|     null|     null|null|     null|   false|
|    Brigitte Chardin|             actress|     null|     null|null|     null|   false|
|  Lollusabha Manohar|               actor|     null|     null|null|     null|   false|
|      Charles Arnone|transportation_de...|     null|     null|null|     null|   false|
|       Shelley Darcy|               actor|     null|     null|null|     null|   false|
|     Ramaz Chiaureli|               actor|     null|     null|null|     null|   false|
|        Ronnie Myers|               actor|     null|     null|null|     null|   false|
|Moustafa Abdel Salam|actor,writer,comp...|     null|     null|null|     null|   false|
|      Fernando Reule|visual_effects,ac...|     null|     null|null|     null|   false|
|    Dominic Syracuse|               actor|     null|     null|null|     null|   false|
|        Caesar James|               actor|     null|     null|null|     null|   false|
|   Marguerite Foster|    actress,producer|     null|     null|null|     null|   false|
+--------------------+--------------------+---------+---------+----+---------+--------+
only showing top 20 rows

In [7]:
####################### Requirement 2 ##################################
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/titles_basic.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("titles_basic.csv"), sep=",", header=True)

In [8]:
df.createOrReplaceTempView('names2')

In [9]:
df2 = spark.sql("SELECT * FROM names2")
clean_professions_df=df2.drop("genres","primarytitle","isadult", "startyear", "endyear", "_c0")
clean_professions_df.show()

+---------+---------+--------------------+--------------+
|   tconst|titletype|       originaltitle|runtimeminutes|
+---------+---------+--------------------+--------------+
|tt0439997|    movie|           500 Almas|         105.0|
|tt0439999|tvSpecial|           80s Mania|          50.0|
|tt0440003|    movie|         A1 tou tiao|          95.0|
|tt0440004|  tvMovie| AD/BC: A Rock Opera|          30.0|
|tt0440008|  tvMovie|Abbamania: We Say...|          50.0|
|tt0440016|    movie|       Ah ma yau nan|          93.0|
|tt0440022|  tvMovie|        Al atardecer|          66.0|
|tt0440035|  tvMovie|      L'amour en pen|          52.0|
|tt0440067|    movie|      Bau lit do see|          99.0|
|tt0440078|  tvMovie|  The Band Aid Story|          95.0|
|tt0440084|  tvMovie|A Beachcombers Ch...|         120.0|
|tt0440149|    video|Blink 182: Punk P...|          61.0|
|tt0440154|  tvMovie|Boogie special: 5...|          26.0|
|tt0440155|  tvMovie|Boogie special: M...|          28.0|
|tt0440157|tvSpecial|The British Comed...|         125.0|
|tt0440158|    movie|      Broken Bridges|          96.0|
|tt0440166|  tvMovie|      Bump and Grind|          46.0|
|tt0440167|  tvMovie|   Burgers/Reizigers|          60.0|
|tt0440174|    movie|CD Hoy: Portraits...|          48.0|
|tt0440175|    movie|          Cabra-Cega|         107.0|
+---------+---------+--------------------+--------------+
only showing top 20 rows

In [10]:
# Read in data from S3 Bucket
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/ratings.csv"
spark.sparkContext.addFile(url)
df2 = spark.read.csv(SparkFiles.get("ratings.csv"), sep=",", header=True)

In [11]:
df2.createOrReplaceTempView('ratings')

In [12]:
df2 = spark.sql("SELECT * FROM ratings")
clean_ratings_df=df2.drop("numvotes")
clean_ratings_df.show()

+---------+-------------+
|   tconst|averagerating|
+---------+-------------+
|tt0214461|          7.4|
|tt0214659|          6.0|
|tt0214878|          6.1|
|tt0215244|          3.0|
|tt0215402|          8.1|
|tt0215423|          8.1|
|tt0215458|          5.6|
|tt0215785|          5.3|
|tt0215972|          5.5|
|tt0216247|          8.1|
|tt0216705|          7.0|
|tt0217135|          5.9|
|tt0217143|          6.5|
|tt0217196|          7.4|
|tt0217629|          7.0|
|tt0217769|          5.8|
|tt0217824|          6.3|
|tt0217836|          2.5|
|tt0218182|          6.3|
|tt0218440|          6.0|
+---------+-------------+
only showing top 20 rows

In [13]:
complete_df = clean_professions_df.join(clean_ratings_df, on = ['tconst'])
complete_df.show()

+---------+---------+--------------------+--------------+-------------+
|   tconst|titletype|       originaltitle|runtimeminutes|averagerating|
+---------+---------+--------------------+--------------+-------------+
|tt0439997|    movie|           500 Almas|         105.0|          7.2|
|tt0440003|    movie|         A1 tou tiao|          95.0|          5.9|
|tt0440004|  tvMovie| AD/BC: A Rock Opera|          30.0|          7.4|
|tt0440016|    movie|       Ah ma yau nan|          93.0|          5.5|
|tt0440067|    movie|      Bau lit do see|          99.0|          5.4|
|tt0440078|  tvMovie|  The Band Aid Story|          95.0|          8.1|
|tt0440084|  tvMovie|A Beachcombers Ch...|         120.0|          7.0|
|tt0440149|    video|Blink 182: Punk P...|          61.0|          4.1|
|tt0440154|  tvMovie|Boogie special: 5...|          26.0|          1.0|
|tt0440155|  tvMovie|Boogie special: M...|          28.0|          7.7|
|tt0440157|tvSpecial|The British Comed...|         125.0|          6.2|
|tt0440158|    movie|      Broken Bridges|          96.0|          7.9|
|tt0440167|  tvMovie|   Burgers/Reizigers|          60.0|          6.3|
|tt0440175|    movie|          Cabra-Cega|         107.0|          6.3|
|tt0440186|    movie|            Cascalho|         104.0|          6.7|
|tt0440192|  tvMovie|Celebrate the Sou...|          60.0|          7.6|
|tt0440200|    movie|Cheng chong chui ...|          95.0|          5.5|
|tt0440202|    video|The China Syndrom...|          28.0|          5.5|
|tt0440203|    video|The China Syndrom...|          30.0|          4.9|
|tt0440205|  tvMovie|    Christmas Lights|          68.0|          6.7|
+---------+---------+--------------------+--------------+-------------+
only showing top 20 rows

In [21]:
from datetime import timedelta
from pyspark.sql.functions import udf
def minutesToHourMinutes(minuteString = "0.0"):
  
  
  if minuteString:
    minutesAsFloat = float(minuteString)
    return str(timedelta(minutes=minutesAsFloat))[:-3]
  else:
    return "0:0"

minutesToHourMinutesUdf = udf(lambda z: minutesToHourMinutes(z), StringType())
spark.udf.register("minutesToHourMinutesUdf", minutesToHourMinutesUdf)

newTitleDf = complete_df.withColumn("formatted_hhmm", minutesToHourMinutesUdf("runtimeminutes"))
newTitleDf.show(10)

+---------+---------+--------------------+--------------+-------------+--------------+
|   tconst|titletype|       originaltitle|runtimeminutes|averagerating|formatted_hhmm|
+---------+---------+--------------------+--------------+-------------+--------------+
|tt0439997|    movie|           500 Almas|         105.0|          7.2|          1:45|
|tt0440003|    movie|         A1 tou tiao|          95.0|          5.9|          1:35|
|tt0440004|  tvMovie| AD/BC: A Rock Opera|          30.0|          7.4|          0:30|
|tt0440016|    movie|       Ah ma yau nan|          93.0|          5.5|          1:33|
|tt0440067|    movie|      Bau lit do see|          99.0|          5.4|          1:39|
|tt0440078|  tvMovie|  The Band Aid Story|          95.0|          8.1|          1:35|
|tt0440084|  tvMovie|A Beachcombers Ch...|         120.0|          7.0|          2:00|
|tt0440149|    video|Blink 182: Punk P...|          61.0|          4.1|          1:01|
|tt0440154|  tvMovie|Boogie special: 5...|          26.0|          1.0|          0:26|
|tt0440155|  tvMovie|Boogie special: M...|          28.0|          7.7|          0:28|
+---------+---------+--------------------+--------------+-------------+--------------+
only showing top 10 rows

In [15]:
##################### Requirement 3 #################################

# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filteredPrincipals.csv"
spark.sparkContext.addFile(url)
fp_df = spark.read.csv(SparkFiles.get("filteredPrincipals.csv"), sep=",", header=True)

# Show DataFrame
fp_df.show()

+----------+--------+---------+---------------+----+-----------------+
|    tconst|ordering|   nconst|       category| job|       characters|
+----------+--------+---------+---------------+----+-----------------+
|tt12189034|       6|nm5943320|          actor|null|      "[""Lee""]"|
|tt12189034|       6|nm5943320|          actor|null|      "[""Lee""]"|
|tt12189034|       6|nm5943320|          actor|null|      "[""Lee""]"|
|tt12189034|       6|nm5943320|          actor|null|      "[""Lee""]"|
|tt12189034|       8|nm7672770|          actor|null|"[""Detective""]"|
|tt12189034|       8|nm7672770|          actor|null|"[""Detective""]"|
|tt12189034|       8|nm7672770|          actor|null|"[""Detective""]"|
|tt12189034|       8|nm7672770|          actor|null|"[""Detective""]"|
|tt12190374|       3|nm0767339|cinematographer|null|             null|
|tt12190374|       3|nm0767339|cinematographer|null|             null|
|tt12190374|       3|nm0767339|cinematographer|null|             null|
|tt12190374|       3|nm0767339|cinematographer|null|             null|
| tt1219128|       2|nm2698001|        actress|null|             null|
| tt1219128|       2|nm2698001|        actress|null|             null|
| tt1219128|       2|nm2698001|        actress|null|             null|
| tt1219128|       2|nm2698001|        actress|null|             null|
|tt12191898|       2|nm8435168|          actor|null|    "[""Quavo""]"|
|tt12191898|       2|nm8435168|          actor|null|    "[""Quavo""]"|
|tt12191898|       2|nm8435168|          actor|null|    "[""Quavo""]"|
|tt12191898|       2|nm8435168|          actor|null|    "[""Quavo""]"|
+----------+--------+---------+---------------+----+-----------------+
only showing top 20 rows

In [16]:
fp_df.orderBy(fp_df["category"].desc()).show()

+----------+--------+----------+--------+--------------------+----------+
|    tconst|ordering|    nconst|category|                 job|characters|
+----------+--------+----------+--------+--------------------+----------+
| tt3257624|       6| nm6026527|  writer|        story editor|      null|
| tt1396634|       2| nm1112737|  writer|              writer|      null|
| tt3281548|       6| nm0017301|  writer|based on the nove...|      null|
|tt12204050|       8|nm11523934|  writer|                null|      null|
| tt3281548|       6| nm0017301|  writer|based on the nove...|      null|
| tt1220717|       6| nm1658333|  writer|based on the nove...|      null|
| tt3281548|       6| nm0017301|  writer|based on the nove...|      null|
| tt1220717|       6| nm1658333|  writer|based on the nove...|      null|
| tt3281548|       6| nm0017301|  writer|based on the nove...|      null|
| tt9782790|       5| nm3744684|  writer|       script writer|      null|
| tt1396525|       6| nm1771584|  writer|                null|      null|
| tt9782790|       5| nm3744684|  writer|       script writer|      null|
| tt1220717|       6| nm1658333|  writer|based on the nove...|      null|
|tt13958184|       4|nm12281240|  writer|                null|      null|
|tt12453028|       3| nm1683683|  writer|              writer|      null|
|tt13964462|       3| nm9747455|  writer|          written by|      null|
|tt12453028|       3| nm1683683|  writer|              writer|      null|
|tt13964462|       3| nm9747455|  writer|          written by|      null|
| tt9782790|       5| nm3744684|  writer|       script writer|      null|
| tt1396525|       6| nm1771584|  writer|                null|      null|
+----------+--------+----------+--------+--------------------+----------+
only showing top 20 rows

In [17]:
fp_df.filter(fp_df.job == "producer").show(truncate=False)

+----------+--------+----------+--------+--------+----------+
|tconst    |ordering|nconst    |category|job     |characters|
+----------+--------+----------+--------+--------+----------+
|tt12193904|5       |nm11519930|producer|producer|null      |
|tt12193904|5       |nm11519930|producer|producer|null      |
|tt12193904|5       |nm11519930|producer|producer|null      |
|tt12193904|5       |nm11519930|producer|producer|null      |
|tt12198108|5       |nm11519930|producer|producer|null      |
|tt12198108|5       |nm11519930|producer|producer|null      |
|tt12198108|5       |nm11519930|producer|producer|null      |
|tt12198108|5       |nm11519930|producer|producer|null      |
|tt9234450 |9       |nm3882588 |producer|producer|null      |
|tt9234450 |9       |nm3882588 |producer|producer|null      |
|tt9234450 |9       |nm3882588 |producer|producer|null      |
|tt9234450 |9       |nm3882588 |producer|producer|null      |
|tt3263638 |5       |nm0588711 |producer|producer|null      |
|tt3263638 |5       |nm0588711 |producer|producer|null      |
|tt3263638 |5       |nm0588711 |producer|producer|null      |
|tt3263638 |5       |nm0588711 |producer|producer|null      |
|tt3285884 |6       |nm1622110 |producer|producer|null      |
|tt3285884 |6       |nm1622110 |producer|producer|null      |
|tt3285884 |6       |nm1622110 |producer|producer|null      |
|tt3285884 |6       |nm1622110 |producer|producer|null      |
+----------+--------+----------+--------+--------+----------+
only showing top 20 rows

In [18]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-netflix/filterNames.csv"
spark.sparkContext.addFile(url)
fn_df = spark.read.csv(SparkFiles.get("filterNames.csv"), sep=",", header=True)

# Show DataFrame
fn_df.show()

+---------+------------------+---------+---------+--------------------+--------------------+---------+
|   nconst|       primaryname|birthyear|deathyear|   primaryprofession|      knownfortitles| knownFor|
+---------+------------------+---------+---------+--------------------+--------------------+---------+
|nm0458594|     Roger Kleiber|     null|     null|visual_effects,ed...|tt0405022,tt19579...|tt0497467|
|nm0458601|        Mark Kleid|     null|     null|               actor|tt0105041,tt01120...|tt0277615|
|nm0458616|      Mark Kleiman|     null|     null|editor,producer,m...|tt0196091,tt01256...|tt0972846|
|nm0458617|   Michael Kleiman|     1969|     null|camera_department...|tt0913354,tt04311...|tt0431197|
|nm0458618|      Naum Kleiman|     1937|     null|director,actor,wr...|tt3066262,tt64875...|tt3066262|
|nm0458648|     Andreas Klein|     null|     null|producer,executiv...|tt0311429,tt03139...|tt0311429|
|nm0458656|      Arthur Klein|     null|     null|editorial_departm...|tt0106925,tt13375...|tt1337579|
|nm0458664|        Bart Klein|     null|     null|               actor|tt0830854,tt03064...|tt0306413|
|nm0458674|Bonnie Sherr Klein|     1941|     null|director,producer...|tt0227531,tt02242...|tt5492464|
|nm0458680|       Butch Klein|     null|     null| actor,miscellaneous|tt7255502,tt04417...|tt3609352|
|nm0458680|       Butch Klein|     null|     null| actor,miscellaneous|tt7255502,tt04417...|tt0285331|
|nm0458690|    Cathleen Klein|     null|     null|visual_effects,sp...|tt4154796,tt18256...|tt1825683|
|nm0458690|    Cathleen Klein|     null|     null|visual_effects,sp...|tt4154796,tt18256...|tt1843866|
|nm0458719|     Dietmar Klein|     1956|     null|director,writer,c...|tt0100652,tt01203...|tt0330426|
|nm0458723|    E. Niles Klein|     null|     null|    sound_department|tt0285531,tt10534...|tt0285531|
|nm0458723|    E. Niles Klein|     null|     null|    sound_department|tt0285531,tt10534...|tt0431197|
|nm0458728|      Edward Klein|     1936|     null|                null|tt9170254,tt36511...|tt3651106|
|nm0458734| Ellyn Klein Golub|     null|     null|miscellaneous,pro...|tt2262227,tt02683...|tt0268397|
|nm0458747|       Frank Klein|     null|     null|miscellaneous,pro...|tt0297284,tt18953...|tt0297284|
|nm0458750|        Gary Klein|     null|     null|music_department,...|tt0082958,tt00775...|tt0249238|
+---------+------------------+---------+---------+--------------------+--------------------+---------+
only showing top 20 rows

In [19]:
fn_df.filter(fn_df.primaryprofession == "producer").show(truncate=False)

+---------+------------------+---------+---------+-----------------+----------------------------------------+----------+
|nconst   |primaryname       |birthyear|deathyear|primaryprofession|knownfortitles                          |knownFor  |
+---------+------------------+---------+---------+-----------------+----------------------------------------+----------+
|nm0460805|Arlene Knight     |null     |null     |producer         |tt4524446,tt4082122,tt3685368,tt2728252 |tt4524446 |
|nm0462049|Sachiko Kobayashi |null     |null     |producer         |tt5498350,tt0092963,tt0234669,tt6413988 |tt6413988 |
|nm0459057|Katharina Kleine  |null     |null     |producer         |tt0108979,tt0196264,tt0235930,tt0106178 |tt0235930 |
|nm0459354|Daniel S. Kletzky |null     |null     |producer         |tt0317676,tt0120804,tt0173840,tt0398913 |tt0120804 |
|nm0459859|Alex Klippel      |null     |null     |producer         |tt0333986,tt0259853,tt0257986,tt2353967 |tt0257986 |
|nm0459275|Hartmut Klenke    |null     |null     |producer         |tt0109741,tt0111430,tt0316967,tt2769254 |tt2769254 |
|nm0459354|Daniel S. Kletzky |null     |null     |producer         |tt0317676,tt0120804,tt0173840,tt0398913 |tt0398913 |
|nm0459782|Shantel Klinger   |null     |null     |producer         |tt0791275,tt0840061,tt0205656,tt0313038 |tt0840061 |
|nm0461396|Patrick Lam       |null     |null     |producer         |tt4392726                               |tt4392726 |
|nm0462639|Morihiro Kodama   |null     |null     |producer         |tt0384819,tt0386130,tt0340227,tt0303658 |tt0340227 |
|nm7738852|Mari Bonnemaison  |null     |null     |producer         |tt5210554                               |tt5210554 |
|nm7738931|Teennick Top10    |null     |null     |producer         |tt5171344                               |tt5171344 |
|nm7739930|Dee Smith         |null     |null     |producer         |tt5212226                               |tt5212226 |
|nm7740103|Max Arvelaiz      |null     |null     |producer         |tt5669410,tt6938828,tt3774114,tt5974030 |tt3774114 |
|nm7740466|Chantal Rickards  |null     |null     |producer         |tt7595752,tt9261788,tt5207936,tt6417850 |tt7595752 |
|nm7740526|Mark L. Smith     |null     |null     |producer         |tt5212746                               |tt5212746 |
|nm7740873|Daeun Kim         |null     |null     |producer         |tt3280730,tt5212998                     |tt3280730 |
|nm7741033|Jeffrey Pechter   |null     |null     |producer         |tt10011320,tt7475540,tt7355708,tt7543058|tt7475540 |
|nm7741184|Mo El Hami        |null     |null     |producer         |tt5213410                               |tt5213410 |
|nm7741454|Jean-Claude Sercer|null     |null     |producer         |tt11681490,tt1894487                    |tt11681490|
+---------+------------------+---------+---------+-----------------+----------------------------------------+----------+
only showing top 20 rows

In [20]:
fn_df.drop('nconst','birthyear','deathyear','knownfortitles','knownFor').filter(fn_df.primaryprofession == "producer").show(truncate=False)

+------------------+-----------------+
|primaryname       |primaryprofession|
+------------------+-----------------+
|Arlene Knight     |producer         |
|Sachiko Kobayashi |producer         |
|Katharina Kleine  |producer         |
|Daniel S. Kletzky |producer         |
|Alex Klippel      |producer         |
|Hartmut Klenke    |producer         |
|Daniel S. Kletzky |producer         |
|Shantel Klinger   |producer         |
|Patrick Lam       |producer         |
|Morihiro Kodama   |producer         |
|Mari Bonnemaison  |producer         |
|Teennick Top10    |producer         |
|Dee Smith         |producer         |
|Max Arvelaiz      |producer         |
|Chantal Rickards  |producer         |
|Mark L. Smith     |producer         |
|Daeun Kim         |producer         |
|Jeffrey Pechter   |producer         |
|Mo El Hami        |producer         |
|Jean-Claude Sercer|producer         |
+------------------+-----------------+
only showing top 20 rows

In [29]:
#################### Requirement 4 ##########################